@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0; 
 }

.sidebar{
    background-color: rgb(178, 176, 176);
    width: 234px;
    font-family: 'PT Sans', sans-serif;
}

/* apply style to the nav bar under the sidebar class */
.sidebar nav{
    padding: 15px;
}

/* styles to the li elements */
.sidebar nav li{
    list-style: none;
    padding: 30px 0;
    font-size: 21px;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

/* display as flex means to have two sections and offers space distribution between the items in the given div class */
.container{
    display: flex;
    height: 100vh;
}

.infoContainer{
    /* background-color: blue; */
    margin: 90px auto;
    height: 50vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.devProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 60px;
}

.name{
    font-size: 50px;
    font-weight: bold;
}

.about{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.moreAbout{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 19px 0px;
}

.buttons{
    margin: 25px -8px
}

.btn{
    border-radius: 15px;
    font-size: 14px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    margin: 0 7px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 50vh;
}

.contactForm{
    font-family: 'PT Sans', sans-serif;
    padding: 0 40px;
    padding-top: 144px;
}

.contactForm h1{
    font-family: 'Source Sans Pro', sans-serif;
}

.contactForm form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 2px;
    padding: 3px;
}

#emailHelp{
    font-size: 12px;
    color: red;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 15px;
}

.blogs h1{
    margin: 25px;
    font-family: 'PT Sans', sans-serif;
}

.blogItem{
    margin: 16px;
}

.blogItem h2{
    padding-bottom: 12px;
}

h2{
    font-family: 'PT Sans', sans-serif;
    margin: 12px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1000px;
    padding-left: 12px;
}

.skill{
    width: 168px;
    height: 8px;
    background-color: blue;
    border: 2px solid black;
}

.t100{
    width: 200px;
    background-color: darkblue;
}

.t75{
    width: 150px;
    background-color: rgb(52, 52, 246);
}

.t50{
    width: 100px;
    background-color: rgb(108, 108, 255);
}

.t25{
    width: 50px;
    background-color: aqua;
}